html,
body {
  background-color: #eeeeee;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  color: #404654;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.btn {
  padding-right: 20px;
  font-size: 2rem;
}
.dark-mode .section {
  background-color: rgb(75, 72, 72);
  color: white !important;
}
.dark-mode .navbar{
  background-color: rgb(149, 146, 146);
}
.dark-mode .is-size-5 {
  color: black !important;
} 

button #add-currency-btn {
  font-weight: 700;
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.btn-icon:hover .tooltiptext {
  visibility: visible;
}

/* Fix last cell height issue */
#currencies-list-div .box:last-child { 
  margin-bottom: 1.5rem; 
}